@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Bold.eot');
    src: url('TTNormsPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTNormsPro-Bold.woff2') format('woff2'),
        url('TTNormsPro-Bold.woff') format('woff'),
        url('TTNormsPro-Bold.ttf') format('truetype'),
        url('TTNormsPro-Bold.svg#TTNormsPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

